@import "./variables.less";
@media @xs {
    body { 
        font-size: 6px; 
     }
}
@media @sm {
    body { 
        font-size: 8px; 
     }
}
@media @md {
    body { 
        font-size: 10px; 
     }
}
@media @lg {
    body { 
        font-size: 14px; 
     }
}
@media @xl {
    body { 
        font-size: 18px; 
     }
}
@media @xxl {
    body { 
        font-size: 22px; 
     }
}