@import "./variables.less";
@media @xs {
    html {
        font-size: 12px;
     }
}
@media @sm {
    html {
        font-size: 14px;
     }
}
@media @md {
    html {
        font-size: 14px;
     }
}
@media @lg {
    html {
        font-size: 15px;
     }
}
@media @xl {
    html {
        font-size: 16px;
     }
}
@media @xxl {
    html {
        font-size: 17px;
     }
}